<div class="container centered">
<div class="content-title">About</div>
<div class="content-horizontal-rule"></div>
</div>

<div class="content-text-container">



<div class="content-text-intro">Utkarsh Graduated from IIT Roorkee majoring in Computer Science.
He has rich experience in Software Development with specialization in Web Programming and Distributed Systems.</div>

<a data-flickr-embed="true" data-header="true" data-footer="false"  href="https://www.flickr.com/photos/42242899@N05/27843292330/in/dateposted/" title="IMG_8180"><img src="https://c3.staticflickr.com/8/7323/27843292330_9e14fd8270_z.jpg" width="640" height="480" alt="IMG_8180"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

<div class="content-text-paragraph">Built with <a href="https://nodejs.org/">Node.js.</a> This site is a collection of weblogs, travel and coding endeavours.</div>



</div>
</div>
